/*
  List Annotator (LISA) stylesheet
  Author: Abhishek Dutta <adutta@robots.ox.ac.uk>
  Date: 29 May 2020
*/

body {
  font-family: sans;
  font-size: 12pt;
  margin: .2em .5em;
  padding: 0;
  background-color:dimgrey;
  color: white;
}

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid;
  padding: .5em 1em;
}

#shared_project_id {
  width: 25em;
}

#_lisa_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-bottom: 2em;
}

#_lisa_container::after {
  content: "";
  flex: auto;
}

#_lisa_container figure {
  position: relative;
  display: inline-block;
  flex-grow: 0;
  border: 1px solid #c8c8c8;
  margin: .4em .2em;
  padding: 0;
}

#_lisa_container figure span {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: #000;
  color: #FFF;
  font-size: small;
  padding: 2px;
}

#_lisa_container figure svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#_lisa_container figure svg rect {
  stroke-width: .1em;
  fill: none;
  stroke: #FF0;
  pointer-events: none;
}

#_lisa_container figure svg circle {
  stroke-width: .1em;
  fill: #000;
  stroke: #FF0;
  pointer-events: none;
}

#_lisa_container figure svg .sel {
  stroke: blue;
  fill: #000;
  fill-opacity: .1;
}

#_lisa_container figure figcaption #item_toolbar_container {
  display: inline-block;
  text-align: center;
  padding: .4em 0;
}

#_lisa_container figure figcaption #item_toolbar_container button {
  font-size: small;
  margin-right: .2em;
}

#_lisa_container figure figcaption #item_metadata_container {
  display: inline-block;
  padding: .4em 0;
  text-align: center;
}

#_lisa_container figure figcaption #item_metadata_container fieldset {
  text-align: left;
}

#_lisa_container figure figcaption #item_metadata_container .attribute {
  display: block;
}

#_lisa_container figure figcaption #item_metadata_container .attribute > .aname {
  font-weight: 700;
}

#_lisa_container figure figcaption #item_metadata_container input[type=text] {
  width: 95%;
}

#_lisa_message_container {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  text-align: center;
}

#_lisa_message_container .log {
  display: inline;
  background-color: #000;
  color: #FF0;
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  margin: auto;
  padding: .5rem 2rem;
}

._lisa_hide {
  display: none!important;
}

._lisa_key {
  font-family: monospace;
  background: linear-gradient(to bottom,#f0f0f0,#fcfcfc);
  border: 1px solid #e0e0e0;
  white-space: nowrap;
  color: #303030;
  border-bottom-width: 2px;
  border-radius: 3px;
  font-size: 1.2em;
  padding: 1px 6px;
}

._lisa_txt_warning {
  color: red;
}

#_lisa_attribute_container {
  position: absolute;
  display: inline-block;
  background-color: dimgrey;
  margin: 0;
}

#_lisa_attribute_container table {
  border-collapse: collapse;
  border: 1px solid #424242;
  padding: 1em;
}

#_lisa_toolbar_container {
  display: block;
  border: 1px solid #424242;
  margin-bottom: 1em;
  padding: .4em .5em;
}

#_lisa_toolbar_container div:first-child {
  margin-right: 1em;
}

#_lisa_toolbar_container div:not(:first-child) {
  padding: 0 1em;
}

input,
button,
#_lisa_attribute_container table select,
#_lisa_toolbar_container div button {
  font-size: small;
}

#_lisa_container figure audio,
#_lisa_container figure img,
#_lisa_container figure video {
  border: none;
  object-fit: fill;
  margin: 0;
  padding: 0;
}

#_lisa_container figure figcaption #item_metadata_container .attribute > div,
#_lisa_toolbar_container div {
  display: inline;
}

#_lisa_attribute_container table th,
#_lisa_attribute_container table td {
  border: 1px solid #424242;
  padding:1em;
}
